* {
  background-color: #edf1d7;
  padding: 2px;
}

#header-Text {

  background: -webkit-linear-gradient(#8a9465, #d1ceb4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
  padding: 0px;
  font-size: 200px;
}

.hero-wrapper {
  height: 100vh;

  overflow: hidden;
}

.hero-back-text {
  position: absolute;

  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 20vw;
  /* responsive big text */
  color: rgba(255, 255, 255, 0.08);
  /* subtle back text */
  z-index: 1;
  white-space: nowrap;
  pointer-events: none;
}

/* FRONT IMAGE (in front) */
.hero-img {
  position: relative;
  z-index: 1;
  max-width: 50vw;
  /* responsive */
}

.gallery-img {
  width: 100%;
  height: 230px;     /* fixed height */
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.nav-tabs .nav-link.active {
  /* background-color: #d7c39a; */
  color: #000;
  font-weight: bold;
}

.nav-tabs .nav-link {
  color: #555;
}
.reserve{
  background-color: #4b785e;
    color: white;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    transition: background 0.3s ease;
}
/* .card-back-1 {
  width: 220px;
  height: 220px;
  top: px;
  left: px;
  transform: rotate(20deg);
}

.card-back-2 {
  width: 220px;
  height: 220px;
  top: px;
  left: px;
  transform: rotate(40deg);
} */

.animate-fade {
  opacity: 0;
  animation: fadeIn 1.2s ease-in-out forwards;
}

.animate-slide {
  opacity: 0;
  animation: slideUp 1.3s ease forwards;
}

.animate-rise {
  opacity: 0;
  animation: rise 1.5s ease forwards;
}

section form input,
section form select {
  height: 50px;
  font-size: 15px;
}

.btn-dark:hover {
  background: #121212 !important;
  transition: 0.3s;
}

.highlight-section {


  background-color: #e4ba30;
  padding: 60px 30px;
  text-align: center;

  color: #222;

  margin: 80px auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.highlight-section h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 30px;
  background-color: inherit;
}

.highlight-section .btn {
  background-color: #4b785e;
  color: white;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  transition: background 0.3s ease;
}

.highlight-section .btn:hover {
  background-color: #3d664f;
}

footer a:hover {
  color: #000000 !important;
  transition: 0.2s;
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: #000000 !important;
  transition: color 0.3s;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rise {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* .navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #ffc107 !important;
  golden highlight
} */

/* Mobile Responsiveness */
@media (max-width: 576px) {
  .hero-back-text {
    font-size: 32vw;
  }

  .hero-img {
    max-width: 75vw;
  }
}